:root {
  --color: #000000dd;
  --color-error: #ff0000b0;
  --border-color: #757575;
  --border-color-light: #c9c9c9;
  --board-backgound-color: #fff;
  --cell-selected-background-color: #dddddd;
  --cell-base-background-color: #f6f6f6;
  --title-color: #2196f3;
  --title-back-color: rgba(232, 243, 253, 0.984);
  --title-shadow-color: #0000001c;
  --button-color: white;
  --button-border-color: #1d83d6;
  --button-background-color: #2196f3;
  --button-shadow-color: #0000001c;
  --solved-background-color: #ffffffd0;
  --solved-border-color: #757575;
  --solved-color: #2196f3;
  --stats-background-color: #e3e3e3;
  --max-pixels: 640px;
  --font-number-size: 1.75rem; 
  --font-number-selector-size: 2rem; 
  --font-stats-size: 1.50rem;
  --font-stats-values-size: 1.3rem;
  --font-title-values-size: 4rem;
  --width: 95%;
  --height: 95vw;
}
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  color: var(--color);
}

/* ----------- */
/* GAME        */
/* ----------- */
#board, #number-selector, #buttons, #stats {
  max-width: var(--max-pixels);
  display: flex;
  width: var(--width);
}
/* title */
#title {
  color: var(--title-color);
  text-shadow: 2px 2px 2px var(--title-shadow-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--font-title-values-size);
  font-weight: 900;
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  font-stretch: ultra-expanded;
  position: relative;
}
#title-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  font-size: 7rem;
  margin-left: -90px;
  margin-top: -36px;
  z-index: -1;
  color: var(--title-back-color);
}
/* solved message */
#solved {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#solved div {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 3rem;
  color: var(--solved-color);
  border: 1px solid var(--solved-border-color);
  background-color: var(--solved-background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
/* stats */
#stats {
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: var(--stats-background-color);
  padding: 0.25em;
  border-radius: 4px;
}
#stats div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-stats-size);
}
#stats div span:first-child {
  font-weight: bold;
}
#stats div span:last-child {
  opacity: 0.9;
  font-size: var(--font-stats-values-size);
  font-weight: bold;
}
/* board */
#board {
  max-height: var(--max-pixels);
  height: var(--height);
  background-color: var(--board-backgound-color);
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}
/* row & square */
#board .row,
#board .row .square {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#board .row .square {
  border: 1px solid var(--border-color);
}
/* cells */
#board .row .square .cell {
  font-size: var(--font-number-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color-light);
  cursor: pointer;
}
#board .row .square .cell.base {
  font-weight: bold;
  background-color: var(--cell-base-background-color);
}
#board .row .square .cell.error {
  color: var(--color-error);
}
#board .row .square .cell.selected {
  background-color: var(--cell-selected-background-color);
}
/* number selector */
#number-selector {
  margin-top: 2rem;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
  /* row-gap: 0.5rem; */
}
#number-selector .button-number {
  height: 4rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  font-size: var(--font-number-selector-size);
}
#number-selector .button-number:first-child {
  border-top-left-radius: .5rem;
}
#number-selector .button-number:nth-child(5) {
  border-right: 1px solid var(--border-color);
  border-top-right-radius: .5rem;
}
#number-selector .button-number:last-child {
  border-right: 1px solid var(--border-color);
  border-bottom-right-radius: .5rem;
}
#number-selector .button-number:nth-child(6) {
  border-bottom-left-radius: .5rem;
}
#number-selector .button-number:nth-child(6),
#number-selector .button-number:nth-child(7),
#number-selector .button-number:nth-child(8),
#number-selector .button-number:nth-child(9),
#number-selector .button-number:nth-child(10) {
  border-bottom: 1px solid var(--border-color);
}
/* button */
#buttons {
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-color);
  border-radius: 4px;
  width: 10rem;
  text-align: center;
  height: 3rem;
  cursor: pointer;
  box-shadow: 4px 2px 8px var(--button-shadow-color);
}
/* solved sudoku */
body.solved #solve {
  opacity: 0.5;
}
body.solved #solved {
  display: flex!important;
}
